# Django base
Django>=4.2,<5.0
# Image operations
Pillow>=6.2.1
# For admindocs
docutils>=0.16
# REST API support
#djangorestframework
# If you intend to use Sox or ffmpeg, uncomment:
ffmpeg-python
sox
