{% extends 'base/base.html' %}
{% load tags_artists %}
{% load tags_user_profiles %}
{% load l10n %}

{% block title %}
Artist Meta - {{ object.artist.name }}
{% endblock %}

{% block content_header %}
Artist Meta - {{ object.artist.name }}{% if perms.artists.change_artist %} [<a href="{% url 'admin:artists_artist_change' object.pk %}">Administrate Artist</a>]{% endif %}
{% endblock %}

{% block content %}
  <dl>
    <dt>Artist</dt><dd>{% artist object.artist.pk %}</dd>
    <dt>Reviewed</dt><dd>{{ object.reviewed }}</dd>
    <dt>Accepted</dt><dd>{{ object.accepted }}</dd>
    <dt>Added By</dt><dd>{% user object.submitter.username %}</dd>
    <dt>Added On</dt><dd>{{ object.time_create|localize }}</dd>
    <dt>Changed Fields</dt><dd>{{ object.changed_fields }}</dd>
  </dl>
  Changes
  <table>
    <tr>
      <th>Field</th>
      <th>Current Value</th>
      <th>Suggested New Value</th>
    </tr>
{% for field in changed_fields %}
    <tr>
      <td>{{ field.name }}</td>
      <td>{{ field.current|urlize|linebreaks }}</td>
      <td>{{ field.new|urlize|linebreaks }}</td>
    </tr>
{% endfor %}
  </table>
{% if perms.artists.change_artistmeta %}
  Action
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="accept" value="Accept Change">
    <input type="submit" name="reject" value="Reject Change">
  </form>
{% endif %}
{% endblock %}
