{% extends 'base/base.html' %}
{% load tags_artists %}
{% load tags_user_profiles %}
{% load l10n %}

{% block title %}
Artist - {{ object.name }}
{% endblock %}

{% block content_header %}
Artist - {{ object.name }}{% if perms.artists.change_artist %} [<a href="{% url 'admin:artists_artist_change' object.pk %}">Administrate Artist</a>]{% endif %}
{% endblock %}

{% block content %}
  <div class="detail-image">
{% if object.image %}
   <img src="{{ object.image.url }}" title="[{{ object.name }}'s Image]" alt="[{{ object.name }}'s Image]" /><br />
{% else %}
   <i>No picture!</i>
{% endif %}
  </div>
  <div class="detail-infobox">
    <dl>
      <dt>Name</dt><dd><b>{{ object.name }}</b></dd>
      {% if object.user %}<dt>Artist's User Page</dt><dd>{% user object.user.username %}</dd>{% endif %}
      {% if object.alias_of %}<dt>This artist is an alias of</dt><dd>{% artist object.alias_of.pk %}</dd>{% endif %}
      {% if object.artist_set.exists %}<dt>Other aliases for this artist</dt><dd>{% for alias in object.artist_set.all %}{% artist alias.pk %}{% endfor %}</dd>{% endif %}
      {% if object.real_name %}<dt>Real Name</dt><dd>{{ object.real_name }}</dd>{% endif %}
      {% if object.country_code %}<dt>Location</dt><dd>{{ object.country_code }}</dd>{% endif %}
      <dt>Date Created</dt><dd>{{ object.time_create|localize }}</dd>
      {% if object.time_modify %}<dt>Last Modified</dt><dd>{{ object.time_modify|localize }}</dd>{% endif %}
    </dl>
  </div>
<h3>Public information</h3>
{{ object.bio|urlize|linebreaks }}

{% if perms.artists.create_artistmeta %}<a href="{% url 'artists:artistmeta-create' object.pk %}"><b>Submit changes to this Artist</b></a>{% endif %}

{% if perms.artists.view_artistmeta %}<hr><h3>Artist Metadata History</h3>
<table>
<tr>
  <th>Submitted By</th>
  <th>Date Submitted</th>
  <th>Changed Fields</th>
  <th>Reviewed</th>
  <th>Accepted</th>
  <th>Detail View</th>
</tr>
{% for artistmeta in object.artistmeta_set.all %}
<tr>
    <td>{% user artistmeta.submitter %}</td>
    <td>{{ artistmeta.time_create|localize }}</td>
    <td>{{ artistmeta.changed_fields }}</td>
    <td>{{ artistmeta.reviewed }}</td>
    <td>{{ artistmeta.accepted }}</td>
    <td><a href="{% url 'artists:artistmeta-detail' artistmeta.pk %}">Detail View</a></td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
