{% extends 'base/base.html' %}

{% block content %}
<h2>Artist List</h2>
<p>Here's all the artists</p>
<br />
<table>
<tr>
  <th>Artist Info</th>
</tr>
{% load tags_artists %}
{% for object in object_list %}
<tr>
    <td>{% artist object.id %}</td>
</tr>
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
