{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Watermelon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div id="header">
      <h1><a href="/">Watermelon</a></h1>
    </div>
    <div id="main">
      <div id="left-sidebar" class="column">
{% block left-sidebar %}
{% endblock %}
      </div>
      <div id="content" class="column">
{% block content %}
{% endblock %}
      </div>
      <div id="right-sidebar" class="column">
{% block right-sidebar %}
{% endblock %}
      </div>
    </div>
    <div id="footer">
      <small>Powered by <a href="https://github.com/demovibes/watermelon">watermelon</a></small>
    </div>
  </body>
</html>
