{% extends 'base/base.html' %}

{% block content %}
<h2>Nectarine Audio Streams</h2>
<p>The following streams are currently active on the site. You can add the Direct Link's as a URL to a streaming program such as WinAmp or VLC. The M3U is a playlist file, which can be opened by WinAmp, iTunes, VLC and more!</p>
<br />
{{ object_list }}
<!--
<div class="bubbleInfo">
    <img src='/static/flags/us.png' class='countryflag' alt='flag' title='us' /> <a href="http://necta.burn.net:8000/nectarine">http://necta.burn.net:8000/nectarine</a> (192 kbps MP3) <a class="trigger"><sup>[info]</sup></a>
<div class="popup">
    <b>Stream Name:</b> <img src='/static/flags/us.png' class='countryflag' alt='flag' title='us' /> http://necta.burn.net:8000/nectarine<br />
    <b>Direct Stream Link:</b> <a href="http://necta.burn.net:8000/nectarine">http://necta.burn.net:8000/nectarine</a><br />
    <b>PlayList File:</b> <a href="http://necta.burn.net:8000/nectarine.m3u">M3U</a><br />
    <b>Stream Info:</b> MP3 - 192 kbps<br />
    <p>This is an IPv4 / IPv6 relay.  If you want a protocol-specific one, use one of the aliases below:</p>

<p><a href="http://necta-v4.burn.net:8000/nectarine">http://necta-v4.burn.net:8000/nectarine</a></p>

<p><a href="http://necta-v6.burn.net:8000/nectarine">http://necta-v6.burn.net:8000/nectarine</a></p>
    </div>
</div><br/>
-->
{% endblock %}
