{% extends 'base/base.html' %}
{% load tags_songs %}
{% load tags_user_profiles %}
{% load l10n %}

{% block title %}
Song Meta List
{% endblock %}

{% block content_header %}
Song Meta List
{% endblock %}

{% block content %}
<p>The following song metadata is in "pending" status and requires moderator review.</p>
<br />
<table>
<tr>
  <th>Song ID</th>
  <th>Song Name</th>
  <th>Submitted By</th>
  <th>Date Submitted</th>
  <th>Changed Fields</th>
  <th>Detail View</th>
</tr>
{% for object in object_list %}
<tr>
    <td>{{ object.song_id }}</td>
    <td>{% song object.song_id %}</td>
    <td>{% user object.submitter %}</td>
    <td>{{ object.time_create|localize }}</td>
    <td>{{ object.changed_fields }}</td>
    <td><a href="{% url 'songs:songmeta-detail' object.pk %}">Detail View</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
