html {
  background: Orange
}

body {
  background: White;
  max-width: 100vh;

  margin: 1rem auto;
  border: 1px solid black;
  padding: 1rem
}

div#header, div#footer, .center {
  text-align: center
}

div#left-sidebar {
  float: left
}

div#content {
  display: inline-block
}

div#right-sidebar {
  float: right
}

div.column {
  background: White;
  max-width: 100vh;

  margin: 1rem auto;
  border: 1px solid black;
  padding: 1rem
}

.user.none:before {
  content: "👻"
}

.user.default:before {
  content: "👤"
}

.user.staff:before {
  content: "👷"
}

.user.superuser:before {
  content: "👽"
}

.artist:before {
  content: "🎤"
}

.song:before {
  content: "🎵"
}

.playlist:before {
  content: "⏯"
}

.service:before {
  content: "🔌"
}

.status-normal:before {
  content: "✔"
}

.status-error:before {
  content: "❌"
}
