{% extends 'base/base.html' %}

{% block title %}
Service - {{ object.name }}
{% endblock %}

{% block content_header %}
Service - {{ object.name }}{% if perms.backend.change_service %} [<a href="{% url 'admin:backend_service_change' object.pk %}">Administrate Service</a>]{% endif %}
{% endblock %}

{% block content %}
<dl>
  <dt>Service Name</dt><dd>{{ object.name }}</dd>
  <dt>Service Description</dt><dd>{{ object.description }}</dd>
</dl>
<hr>
{% for command in object.command_set.all %}{% if command.autorun %}
<dl>
  <dt>Command</dt><dd>{{ command.name }}</dd>
  <dt>Return Code</dt><dd>{{ command.run.0 }}</dd>
  <dt>Output</dt><dd><pre>{{ command.run.1 }}</pre></dd>
</dl>
<hr>
{% endif %}{% endfor %}
<form action="{% url 'backend:service-detail' object.pk %}" method="post">
{% csrf_token %}
{% if perms.backend.change_service %}{% for command in object.command_set.all %}
  <input type="submit" name="command_{{ command.pk }}" value="{{ command.name }}">
{% endfor %}{% endif %}
{% for file in object.file_set.all %}
  <hr>
  <label for="file_content_{{ file.pk }}">{{ file.name }} ({{ file.path }})</label>
  <br>{% if file.content %}<textarea name="file_content_{{ file.pk }}"{% if file.readonly %} readonly{% endif %}>{{ file.content }}</textarea>{% else %}<b>File does not exist.</b>{% endif %}
{% if perms.backend.change_service and not file.readonly %}<br><input type="submit" name="file_save_{{ file.pk }}" value="Save">{% endif %}
{% endfor %}
  <hr>
</form>
{% endblock %}
