{% extends 'base/base.html' %}

{% block title %}
Collection Types
{% endblock %}

{% block content_header %}
Collection Types
{% endblock %}

{% block content %}
<ul class="brief-list">
{% for object in page_obj %}
    <li class="collection.{{ object.pk }}"><a href="{% url 'collections:collection-list' object.pk %}">{{ object.name }}</a><p>
      {{ object.description }}</li>
{% empty %}
    <li>No collection types yet.</li>
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
